@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    string userEmail = ViewBag.Email;
}

<div class="tm-main-content" id="top">
    <section class="login-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center">
                            <div class="text w-100">
                                <h2>Change your password</h2>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Change Password</h3>
                                </div>
                            </div>
                            <form method="post" class="signin-form">
                                <input type="hidden" asp-for="Email" value="@userEmail"/>

                                <div class="form-group mb-3">
                                    <label class="label" asp-for="@Model.Password">Password</label>
                                    <input asp-for="@Model.Password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label class="label" asp-for="@Model.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="@Model.ConfirmPassword" class="form-control" placeholder="Confirm Password">
                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary tm-btn-search ptb-10">
                                        SUBMIT
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2022</span> HMS</p>
            </div>
        </div>
    </footer>
    </div>