@model CombinedViewModel
@inject ICustomDataProtector protector
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "Login";
    var status = ViewBag.Status;
    var isSuccess = ViewBag.IsSuccess;
    //var status = "Done";
    //var isSuccess = true;
    string statusMsg = string.Empty;
    if(status != null && status.GetType().ToString() == "System.String")
    {
        statusMsg = status;
    }
    var returnUrl = ViewBag.LoginRequired;
    var userCreds = Context.Request.Cookies["UserCredentials"];
    var deserializedUserCreds = new LoginViewModel();
    if(userCreds != null) {
        deserializedUserCreds = JsonSerializer.Deserialize<LoginViewModel>(userCreds);
        deserializedUserCreds.Password = protector.Decrypt(deserializedUserCreds.Password);
        var temp = userCreds;
    }
    var loggedUser = httpContextAccessor.HttpContext.Session.Get<User>("User");
    if (loggedUser == null) loggedUser = new User();
    var isAdmin = (ViewBag.Admin != null && ViewBag.Admin == true);
}

<div class="tm-main-content" id="top">
    <section class="login-wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center">
                            <div class="text w-100">
                                <h2>Welcome to login</h2>
                                <p class="text-white">Don't have an account?</p>
                                <a asp-action="register" asp-controller="Home" class="btn btn-white btn-outline-white">REGISTER</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Login</h3>
                                </div>
                            </div>
                            <form method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="@Model.LoginModel.Email">Email</label>
                                    <input asp-for="@Model.LoginModel.Email" class="form-control" placeholder="Email" value="@deserializedUserCreds.Email">
                                    <span asp-validation-for="@Model.LoginModel.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="@Model.LoginModel.Password" value="@deserializedUserCreds.Password">Password</label>
                                    <input asp-for="@Model.LoginModel.Password" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group d-flex justify-content-between">
                                    <div class="w-auto text-left">
                                        <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                            <input type="checkbox" checked="">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="w-auto text-md-right">
                                        <a href="javascript:void(0)" class="text-dark" data-toggle="modal" data-target="#forgotpassModal">Forgot Password</a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary tm-btn-search ptb-10">
                                        LOGIN
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="forgotpassModal" tabindex="-1" aria-labelledby="forgotpassModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fw-700">Forgot Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form asp-action="forgotPassword" asp-controller="Home">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label class="label" asp-for="@Model.forgotPasswordViewModel.Email">Email</label>
                            <input asp-for="@Model.forgotPasswordViewModel.Email" class="form-control" placeholder="Enter Registered Email" value="@deserializedUserCreds.Email">
                            <span asp-validation-for="@Model.forgotPasswordViewModel.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
        </div>
    </div>

    <div class="toast right-bottom" data-autohide="false" id="statusToast">
        <div class="toast-header justify-content-between">
            <div id="successToast">
                <svg class=" rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#28A745" width="100%" height="100%" />
                </svg>
                <strong class="mr-auto text-success">Success</strong>
            </div>
            <div id="errorToast">
                <svg class=" rounded mr-2" width="20" height="20" xmlns="http:www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                    <rect fill="#DC3545" width="100%" height="100%" />    
                </svg>
                <strong class="mr-auto text-danger">Error</strong>
            </div>
        
            <button type="button" class="close ml-5" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body" id="toastMsg">
            Hello, world! This is a toast message.
        </div>
    </div>

    <footer class="tm-bg-dark-blue">
        <div class="container">
            <div class="row">
                <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
                    Copyright &copy; <span class="tm-current-year">2022</span> HMS</p>
            </div>
        </div>
    </footer>
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            let curStatusMsg = '@statusMsg';
            let status = '@isSuccess'.toLowerCase();
            if(curStatusMsg.length > 0) {
                ShowToast(curStatusMsg, status);
            }
        });
    </script>
}